html,
* {
  margin: 0px;
  padding: 0px;
}

a {
  color: white;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: rgba(33, 27, 61, 0.5);
  border-radius: 10px;
  padding-left: 20px;
  border: 1px solid black;
}

.loader {
  margin: 0 auto;
  width: 200px;
}
.loader img {
  max-width: 100%;
}

